.form {
    margin-bottom: 20px;
}

.currency {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 5px;
}

.currency {
    width: 100px;
    margin-right: 10px;
}

.formControl {
    width: 100px;
    margin-right: 10px;
}

.error {
    width: 100%;
    text-align: center;
    color: red;
}